@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@import "./styles/themes/dm.css" layer(utilities);
@import "./styles/custom-scrollbar.css" layer(utilities);
@import "./styles/dot.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Gilroy"; /* This name will be used in the Tailwind @theme configuration */
  src: url("./assets/GilroyMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* https://coolors.co/421ca4-e7e2f9-0f0616-160d1e */

  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-gilroy: "Gilroy", sans-serif;

  --color-primary-50: oklch(97.7% 0.012 67.7);
  --color-primary-100: oklch(94.6% 0.029 67.5);
  --color-primary-200: oklch(88.5% 0.06 62);
  --color-primary-300: oklch(81.3% 0.098 60.2);
  --color-primary-400: oklch(72.6% 0.141 51.4);
  --color-primary-500: oklch(65.9% 0.173 44.2); /* Primary Color */
  --color-primary-600: oklch(60.9% 0.178 39.1);
  --color-primary-700: oklch(60.9% 0.178 39.1);
  --color-primary-800: oklch(44.9% 0.128 34.4);
  --color-primary-900: oklch(39.1% 0.106 34.1);
  --color-primary-950: oklch(25.7% 0.068 32.7);

  --color-secondary-50: oklch(97.6% 0.01 67.7);
  --color-secondary-100: oklch(94.6% 0.024 71.5);
  --color-secondary-200: oklch(88.5% 0.05 65.1);
  --color-secondary-300: oklch(80.8% 0.081 62);
  --color-secondary-400: oklch(71.6% 0.116 53);
  --color-secondary-500: oklch(67.1% 0.135 48.1); /* Secondary Color */
  --color-secondary-600: oklch(59.7% 0.148 41.2);
  --color-secondary-700: oklch(51.5% 0.133 37.4);
  --color-secondary-800: oklch(44.4% 0.107 34.9);
  --color-secondary-900: oklch(38.8% 0.087 34.8);
  --color-secondary-950: oklch(25.4% 0.056 31.5);

  --color-primary: oklch(65.9% 0.173 44.2);
  --color-secondary: oklch(67.1% 0.135 48.1);
  --color-accent: oklch(0.8 0.152851 67.8262);

  --color-sidepanel-start: oklch(0.2342 0.0065 258.36);
  --color-sidepanel-end: oklch(0.313 0.0132 267.12);

  --color-primary-dark: oklch(0.1969 0.0047 196.78);
  --color-primary-dark-foreground: oklch(0.2178 0 0);
  --color-primary-dark-foreground-dark: oklch(0.1822 0 0);

  /* Styles for button (match dm.css) */
  --color-btn: oklch(65.9% 0.173 44.2);
  --color-btn-dark: oklch(65.9% 0.173 44.2);
  --color-btn-hover: oklch(71.6% 0.116 53);
  --color-btn-active: oklch(71.6% 0.116 53);
  --color-btn-disabled: oklch(94.6% 0.024 71.5);

  --color-btn-ring: oklch(65.9% 0.173 44.2);

  --color-btn-text: oklch(100% 0 0);
  --color-btn-text-disabled: oklch(80.8% 0.081 62);
  --color-btn-spinner: oklch(100% 0 0);
  /* End of Styles for button */

  --animate-rocket: subtleRocketMovement 2s ease-in-out infinite alternate;

  --animate-gradient: gradient 8s linear infinite;
  --animate-ellipsis: draw-ellipsis 1.5s infinite;
}

.app-region-drag {
  app-region: drag;
}
.app-region-no-drag {
  app-region: no-drag;
}

@keyframes gradient {
  to {
    background-position: var(--bg-size, 300%) 0;
  }
}

@keyframes draw-ellipsis {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: "."; /* Or just end at "..." and let it loop */
  }
}

@keyframes subtleRocketMovement {
  0% {
    transform: translateY(0px) rotate(-2deg); /* Start position */
  }
  100% {
    transform: translateY(-20px) rotate(3deg); /* End position: moves slightly up and tilts a bit */
  }
}

.pattern {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%236b7280' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.pattern-dark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}
