@import "tailwindcss";
@import "./themes/dm.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  /* https://coolors.co/421ca4-e7e2f9-0f0616-160d1e */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gilroy: var(--font-gilroy-medium);

  --color-primary-50: oklch(0.97 0.016 289.93);
  --color-primary-100: oklch(0.94 0.0309 289.79);
  --color-primary-200: oklch(0.89 0.0575 287.35);
  --color-primary-300: oklch(0.8 0.1067 287.95);
  --color-primary-400: oklch(0.69 0.1674 287.89);
  --color-primary-500: oklch(0.59 0.2291 285.68);
  --color-primary-600: oklch(0.52 0.257 285);
  --color-primary-700: oklch(0.47 0.2492 283.89);
  --color-primary-800: oklch(0.41 0.2187 283.88);
  --color-primary-900: oklch(0.38 0.1961 285.2); /* Primary Color */
  --color-primary-950: oklch(0.27 0.1403 282.51);

  --color-secondary-50: oklch(97.3% 0.011 292);
  --color-secondary-100: oklch(95.1% 0.02 298.2);
  --color-secondary-200: oklch(92.4% 0.031 295.7); /* Secondary Color */
  --color-secondary-300: oklch(83.5% 0.07 296.8);
  --color-secondary-400: oklch(74.2% 0.111 297.3);
  --color-secondary-500: oklch(64% 0.156 297.5);
  --color-secondary-600: oklch(56.8% 0.183 299.2);
  --color-secondary-700: oklch(51% 0.185 299.6);
  --color-secondary-800: oklch(44.9% 0.16 299.6);
  --color-secondary-900: oklch(39.6% 0.133 300);
  --color-secondary-950: oklch(29.7% 0.102 298.8);

  --color-primary: oklch(0.38 0.1961 285.2);
  --color-primary-dark: oklch(0.2 0 0);
  --color-primary-dark-foreground: oklch(0.25 0 0);
  --color-secondary: oklch(0.9 0.0554 297.86);
  --color-accent: oklch(0.8 0.152851 67.8262);

  /* Styles for button (match dm.css) */
  --color-btn: oklch(38.3% 0.2 285);
  --color-btn-dark: oklch(0.47 0.2492 283.89);
  --color-btn-hover: oklch(41.4% 0.21 285);
  --color-btn-active: oklch(41.4% 0.21 285);
  --color-btn-disabled: oklch(83.6% 0 0);

  --color-btn-ring: oklch(38.3% 0.2 285);

  --color-btn-text: oklch(100% 0 0);
  --color-btn-text-disabled: oklch(100% 0 0);
  --color-btn-spinner: oklch(100% 0 0);
  /* End of Styles for button */
}
